RewriteEngine On

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirect donate.html to /donate
RewriteRule ^donate$ donate.html [L]

# Redirect index.html to root
RewriteRule ^index\.html$ / [R=301,L]
